* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: block;
}

.h2 {
  font-family: 'Pushster', cursive;
}

h3 {
  font-family: sans-serif;
  padding: 2px;
}

.menu {
  display: block;
  color: dimgrey;
  text-decoration: none;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 20PX;
}

.subTitulos {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px;
  color: #424242;
  font-family: sans-serif;
  line-height: 50px;
  font-size: 2rem;
}

#introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0px 5rem 0px;
}

.parrafos, p {
  display: block;
  color: #7F7F7F;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  line-height: 20px;
}

p {
  padding: 15px 0px;
}

.encabezados {
  font-family: sans-serif;
  color: saddlebrown;
  padding: 15px 0px;
  display: block;
}

.divisiones {
  color: orange;
}

.ol {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fondoLogo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logoIndex {
  display: block;
  width: 50px;
  border: 10px;
  -webkit-animation: shimmy 2s ease-in-out;
          animation: shimmy 2s ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.header__menuPrincipal {
  display: block;
  line-height: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__menuPrincipal li {
  position: relative;
  display: inline-block;
}

.header__menuPrincipal li a {
  display: block;
  padding: 10px 10px;
}

.header__menuPrincipal__button {
  display: none;
  width: 2rem;
  height: 2rem;
}

.header__menuPrincipal__button__desplegable {
  display: none;
  width: 5rem;
}

.btn-group, .dropstart {
  display: none;
}

.header__menuPrincipal li a:hover {
  color: black;
}

div {
  display: block;
  padding: 5px 0px;
}

.currentPage {
  text-decoration: underline;
}

.header__menuPrincipal li:hover .subMenu {
  display: block;
}

.subMenu {
  position: absolute;
  background: #333333;
  width: 150%;
  display: none;
  text-decoration: none;
  z-index: 2;
}

.subMenu li a {
  display: block;
  padding: 15px;
  color: blanchedalmond;
  text-decoration: none;
}

.descripcion {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 10px 10px 200px;
}

.servicios__especialidades {
  display: inline-block;
  width: 250px;
  text-align: justify;
  padding: 10px 10px 15px;
}

.servicios__encabezados {
  font-family: sans-serif;
  color: saddlebrown;
  padding: 15px 0px;
  display: block;
}

.servicios__imagenes {
  width: 30%;
  margin: 1rem 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.servicios:hover {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  opacity: 1;
}

.servicios:hover span {
  opacity: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__parrafos {
  display: block;
  width: 200px;
  text-align: justify;
  text-decoration: none;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  color: #7F7F7F;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  line-height: 1rem;
  font-size: 1rem;
}

.footer__parrafos__padding {
  padding-top: 15px;
}

.footer__titles {
  display: block;
  font-family: sans-serif;
  color: saddlebrown;
  font-size: 1rem;
  letter-spacing: 2px;
}

.contenedor__presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor__presentacion__subTitulos {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px 20px;
  color: #424242;
  font-family: sans-serif;
  line-height: 50px;
  font-size: 2rem;
}

.contenedor__presentacion__parrafo {
  display: block;
  width: 30vw;
  text-align: justify;
}

.contenedor__presentacion__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  padding-bottom: 2rem;
  padding-top: 2rem;
  -webkit-animation: contenedor__presentacion__imagen 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: contenedor__presentacion__imagen 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contenedor__entrada1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: entrada1;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.contenedor__entrada2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: entrada2;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.contenedor__entrada3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: entrada3;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.contenedor__entrada4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: entrada4;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.contenedor__entrada5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: entrada5;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.contenedor__entrada6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: entrada6;
  border: solid black 1px;
  padding: 1rem;
  text-align: justify;
}

.entradasBlog {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "entrada1 entrada2 entrada3" "entrada4 entrada5 entrada6";
}

.container {
  padding-right: 5rem;
  padding-left: 5rem;
  border-width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 10px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 15px;
  border-bottom: 1px solid #7F7F7F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seleccionDeServicio {
  display: block;
}

#contactItem20 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px 0px 10px;
  border-radius: 5px;
}

#contactItem21 {
  display: block;
  padding: 10px;
  margin: 10px 0px 10px;
  width: 100%;
  border-radius: 5px;
}

.contactItem22 {
  padding: 5px 10px;
  border-radius: 1rem;
  background-color: ghostwhite;
}

#tipoDeServicios {
  content: 10px 20px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.contactItem19 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
}

.encabezadosContactos {
  display: inline-block;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgrey;
}

.main__caroussel_z-index {
  border-width: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.contenedor__formularios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor__formularios__datos {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contenedor__formularios__datos__encabezados {
  font-family: sans-serif;
  color: #424242;
}

.contenedor__formularios__datos__inputs {
  background-color: none;
  color: black;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.contenedor__formularios__tipoDeServicio {
  display: inline-block;
  font-family: sans-serif;
  color: #424242;
}

/* Media Querys*/
@media only screen and (max-width: 900px) {
  .menuPrincipal > li {
    display: block;
  }
  .menuPrincipal > li > a {
    display: block;
    padding: 1px 5px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor__presentacion__parrafo {
    width: 100%;
  }
  .contenedor__presentacion__imagen {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .footerItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
    border-width: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor__formularios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__menuPrincipal {
    display: none;
  }
  .header__menuPrincipal__button {
    display: block;
  }
  .btn-group, .dropstart {
    display: block;
  }
  .entradasBlog {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "entrada1" "entrada2" "entrada3" "entrada4" "entrada5" "entrada6";
  }
  .servicios__imagenes {
    width: 100%;
    margin: 1rem 0rem;
  }
}

@-webkit-keyframes shimmy {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes shimmy {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes contenedor__presentacion__imagen {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes contenedor__presentacion__imagen {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */